/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
    background-color: #62b3d6;
}

p {
    margin: 1em 0;
}

ul {
    list-style: none;
    padding: 0;

    margin-left: 20px;
}

a {
    
    text-decoration: none;
    color: #000000;
}


#secondPage{
    background-color: #3f58a2;
    border-radius:7px ;
}

#secondPage:hover{
    background-color: #697dbc;
    border-radius:5px ;
}

#thirdPage{
    background-color: #3f58a2;
    border-radius:7px ;
}


#thirdPage:hover{
    background-color: #697dbc;
    border-radius:5px ;
}



#main{
    background-color: #0ec9c3;
    border-radius:7px ;
}


#main:hover{
    background-color: #416bd4;
    border-radius:4px ;
}



#page1{
    background-color: #697dbc;
    border-radius:5px ;

}

#page1:hover{
    background-color: #3f58a2;
    border-radius:7px ;

}


#page2{
    background-color: #3f58a2;
    border-radius:7px ;
}

#page2:hover{
    background-color: #697dbc;
    border-radius:5px ;
}
/* Layout Styles */

/* Responsive Styles */
